<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .wrapper {
            display: flex;
            justify-content: space-evenly;
        }

        .box {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            border: 5px solid black;
            margin: 20px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1 style="display: flex; justify-content: center;">Welcome!</h1>
    <div class="wrapper">
        {% for x in range(0, num):%}
        <div class="box" style="background-color:{{color}};"></div>
        {% endfor%}
    </div>
</body>

</html>